In [1]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

In [2]:
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных


connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])


engine = create_engine(connection_string)

In [3]:
query = '''
           SELECT *
           FROM dash_visits
        '''

In [4]:
dash_visits = pd.io.sql.read_sql(query, con = engine)

In [6]:
#dash_visits.to_csv(r'C:\Users\kirio\OneDrive\Рабочий стол\ЯПрактикум\12_Автоматизация\Проект_12\dash_visits.csv', index=False)

In [ ]:
dash_visits.head(15)

    record_id item_topic source_topic age_segment                  dt  visits
0     1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1     1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2     1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3     1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4     1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27
5     1040602     Деньги         Авто       18-25 2019-09-24 18:57:00      22
6     1040603     Деньги         Авто       18-25 2019-09-24 18:58:00      24
7     1040604     Деньги         Авто       18-25 2019-09-24 18:59:00      20
8     1040605     Деньги         Авто       18-25 2019-09-24 19:00:00       5
9     1040606     Деньги         Авто       26-30 2019-09-24 18:29:00       1
10    1040607     Деньги         Авто       26-30 2019-09-24 18:30:00       1
11    1040608     Деньги         Авто       26-30 2019-09-24 18:31:00       1
12    1040609     Деньги         Авто       26-30 2019-09-24 18:32:00       1
13    1040610     Деньги         Авто       26-30 2019-09-24 18:54:00       4
14    1040611     Деньги         Авто       26-30 2019-09-24 18:55:00      13

In [ ]:
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB